<form #programMaintenanceForm="ngForm" 
      (ngSubmit)="saveProgram()" >

  <div class="modal-header bg-gradient-dark">
    <h4 class="modal-title text-white">
      Maintain Program <!--
      <small>for ProgramId {{program.id}}: {{program.name}}</small> -->
    </h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="configureProgramModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body">
    <div id="configuredPrograms">
  
    </div>
        
  </div>
    
  <div class="modal-footer">
    <div class="w-100">
      <span class="float-left">Some instructional content or condition message goes here: </span>
      <div class="float-right">
          <button type="submit" class="btn btn-outline-dark" [disabled]="!programMaintenanceForm.valid">Save</button>
          <button type="button" class="btn btn-outline-dark" (click)="maintainProgramModal.close('Close click')">Cancel</button>
      </div>
    </div>
  </div>

</form>      