.flex-justify-left 
{
    display: flex; justify-content: flex-start; align-items: left; padding:0 0 0 10px;
}
.flex-justify-center 
{
    display: flex; justify-content: center; align-items: center;
}
.flex-justify-right 
{
    display: flex; justify-content: flex-end; align-items: right;
}