<h2>Welcome</h2>
<p>Alert Subscribe Maintenance Panel is an application for managing Business Rules related to 
    Member Subscriptions to PBM Communications.</p>
<p>This Prototype is a Single-Page Application written using Angular 5 with a SpringBoot REST API 
    backend on top of a MySQL database.  </p> 
<p>The intent is to provide a tool to research both the technologies and design/development of the 
    application as well as a means to collaborate between Business, BA and IT on the functionality of 
    the production-ready implementation.</p>
<hr>
