
<div class="col-xs-2"
  (click)="onClick($event)"
  (appClickOutside)="onClickedOutside($event, d)"
  [attachOutsideOnClick]="attachOutsideOnClick"
  [delayClickOutsideInit]="delayClickOutsideInit"
  [clickOutsideEvents]="clickOutsideEvents"
  [exclude]="exclude"
  [excludeBeforeClick]="excludeBeforeClick">

  <input name="dp" [(ngModel)]="dateModel" class="form-control form-control-sm date-eff-exp-input" placeholder="yyyy-mm-dd"
         (click)="d.toggle()" (ngModelChange)="saveDate($event)" ngbDatepicker #d="ngbDatepicker"
         [required]="required">

 </div>
