<div class="container">
  <h2>Shared Module Tests</h2>
  <!-- this stuff can all go once refactoring is complete
       mostly just for showing features off -->
  
  <h4>Programs</h4>
  <span *ngIf="programs">
    <ul *ngFor="let p of programs">
      <li>{{p | json}}</li> 
    </ul>
  </span>
  <h4>Program Profiles</h4>
  <span *ngIf="programProfiles">
    <ul *ngFor="let pp of programProfiles">
      <li>{{pp | json}}</li> 
    </ul>
  </span>
  <h4>Program Profile Client Exceptions</h4>
  <span *ngIf="programProfileClientExceptions">
    <ul *ngFor="let ppce of programProfileClientExceptions">
      <li>{{ppce | json}}</li> 
    </ul>
  </span>
  <app-drag-drop-test></app-drag-drop-test>
  <app-click-outside-test></app-click-outside-test>
</div>

