<div *ngIf="!lastConfigRow">
  <!-- not the last (new) row, this could be the current effective row -->

  <div *ngIf="dateType === 'effective'" class="flex-justify-center">
    <!-- the effective date of the current effective row -->
    <input class="form-control form-control-sm date-eff-exp-input" value="{{progConfig.effective}}" readonly>
  </div>

  <div *ngIf="dateType === 'expiration'" class="flex-justify-center">
    <!-- the expiration date of the current/previous row -->
    <input class="form-control form-control-sm date-eff-exp-input" value="{{progConfig.expiration}}" readonly>
  </div>
</div>

<div *ngIf="lastConfigRow" >
  <!-- this _is_ the last (new) row that will be inserted -->

  <div *ngIf="dateType === 'effective'" class="flex-justify-center">
    <!-- set the effective date for the new row -->
    <app-date-picker-popup [dateValue]="progConfig.effective"
      (newDateValue)="updateDateValue($event)"></app-date-picker-popup></div>

  <div *ngIf="dateType === 'expiration'" class="flex-justify-center">
    <!-- the expiration date of the new row -->
    <input class="form-control form-control-sm date-eff-exp-input" value="{{progConfig.expiration}}" readonly>
  </div>
</div>